* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.landing {
  height: 100vh;
  position: relative;
}

.landing > h1 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  letter-spacing: 5px;
}

.landing > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.input-label {
  font-size: 1.1em;
  font-weight: 700;
  z-index: 1;
  width: 250px;
}

.input-text {
  color: #293264;
  box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.blob-up {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 250px;
  width: 250px;
  z-index: -1;
}

.blob-down {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: -1;
}

@media screen and (max-width: 625px) {
  .input-label {
    font-size: 1.1em;
    font-weight: 700;
    z-index: 1;
  }
}
